body
{
    background-color: rgb(26, 26, 26);
}
h1
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 20px;
    display: inline-block;
    font-size: 25px;
    text-shadow:0 0 15px black;
    font-weight: lighter;
}
.user-section
{
   
   width: 15vw;
   background-color: rgb(126, 126, 126);
   border-radius: 10px;
   box-shadow: 0 0 15px black;
   flex-shrink: 1;
   
}
.user-flexbox
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pfp
{
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
    background-color:rgb(192, 192, 192) ;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 15px black;
}
.user-info
{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-name
{
    flex-grow: 1;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    position: relative;
    display: inline-block;
    font-size: 25px;
    flex: 2;
}
.dashboard
{
    position: relative;
    background-color: rgb(76, 76, 76);
    width: 50vw;
    height: 300px;
    box-shadow: 0 0 15px black;
    border-radius: 10px;
    margin-top: 100px;
}
.dashboard-flexbox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-mode-name
{
    font-size: 35px;
    margin-top: 10px;
    margin-left: 10px;
    
}
.mode
{   
    flex: 1;
    background-color: rgb(93, 40, 104);
    display: inline-block;    
    border-radius: 10px 0 0 0;
    border-color: black;
    border: 1px solid black ;
    transition-duration: 0.3s;
    box-shadow: 0 0 5px black;

}
.mode-middle
{   
    flex: 1;
    background-color: rgb(93, 40, 104);
    display: inline-block;    
    border-radius: 0 0 0 0;
    border-color: black;
    border: 1px solid black ;
    transition-duration: 0.3s;
    box-shadow: 0 0 5px black;

}
.mode-end
{   
    flex: 1;
    background-color: rgb(93, 40, 104);
    display: inline-block;    
    border-radius: 0 10px 0 0;
    border-color: black;
    border: 1px solid black ;
    transition-duration: 0.3s;
    box-shadow: 0 0 5px black;

}
.mode-name
{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.mode-name-preview
{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
.modes-list
{
    display: flex;
    flex-direction: row;
}
.alphabet-button
{
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    margin-top: 10px;
    background-color:rgb(126, 126, 126);
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    transition-duration: 0.3s;
}
@media only screen and (max-width:800px)
{
    h1
    {   
        visibility: hidden;
    }
    .dashboard-flexbox
    {
        width: 100vw;
        display: flex;
        align-items: center;
    }
    .dashboard
    {
        width: 90vw;
        
    }
    .user-flexbox
    {
        position: relative;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .user-section
    {   
        position: absolute;
        width: 50vw;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
    }
    .user-name
    {
        font-size: 17px;
    }
    .pfp{
        width: 45px;
        height: 45px;
    }
}
.mode-end:hover
{
    cursor: pointer;
    flex: 2;
    background-color: rgb(127, 77, 137);
}

.mode-end:active
{
    cursor: pointer;
    flex: 2;
    background-color: rgb(133, 101, 139);
    
}
.mode-middle:hover
{
    cursor: pointer;
    flex: 2;
    background-color: rgb(127, 77, 137);
}

.mode-middle:active
{
    cursor: pointer;
    flex: 2;
    background-color: rgb(133, 101, 139);
    
}
.mode:hover
{
    
    cursor: pointer;
    flex: 2;
    background-color: rgb(127, 77, 137);
}
.mode:active
{
    cursor: pointer;
    flex: 2;
    background-color: rgb(133, 101, 139);
}
.alphabet-button:hover
{
    width:300px ;
    cursor: pointer;
    background-color:rgb(151, 151, 151);
}
.alphabet-button:active
{
    background-color: rgb(180, 180, 180);
}


